ansible-venv
packer_cache
.env
**tfstate**
.terraform**
.DS_Store
output/*
*.log
packer_cache/*
*.ova
*.vmx
*.box
vmx/*
builds/*
ansible/roles/*
!ansible/roles/requirements.yml
**/*.tfvars
**/.vscode
**/*.pem
**/*.pub
**/__pycache__
